.content-header {
  max-width: 555px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 15px 0;
  margin: 0;

  @media (max-width: 767px) {
    padding: 10px 0 27px;
    font-size: 18px;
  }
}

.orange-text {
  color: #ff6348;
}

.checkboxes {
  display: none;

  @media (max-width: 767px) {
    margin: 0 -10px 3px;
    display: flex;
    flex-wrap: wrap;
  }

  .brands-block {
    margin-bottom: 28px;
    padding: 0 10px;
    width: 20%;

    @media (max-width: 650px) {
      width: 25%;
    }

    @media (max-width: 500px) {
      width: 33.33%;
    }

    img {
      margin-bottom: 7px;
      width: 82px;
      height: 82px;
    }

    label {
      margin-bottom: 0;
    }
  }
}

.info-icon {
  vertical-align: middle;
}

.content-section {
  height: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  max-height: 100px;
  height: 100%;
  align-items: flex-end;

  @media (max-width: 767px) {
    max-height: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  & > div {
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}
