.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 767px) {
    background-size: 0;
  }
}

.bg-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6fafa;
  border-radius: 6px;

  @media (max-width: 1023px) {
    padding: 16px 3.78%;
  }

  @media (max-width: 767px) {
    margin: 0 -20px;
    background-size: 0;
    border-radius: 0;
  }
}

.home-page-quiz-banner {
  padding: 16px 9.01%;
  width: 100%;
  color: #595a5a;
  display: flex;
  align-items: center;
  // background: #F6FAFA;

  @media (max-width: 1023px) {
    padding: 16px 6.78%;
  }

  @media (max-width: 767px) {
    padding: 36px 20px 30px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .quiz-banner-header {
    margin: 0 20px 0 0;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    background-size: contain;

    @media (max-width: 1023px) {
      font-size: 28px;
    }

    @media (max-width: 767px) {
      margin: 0 0 12px;
      text-align: center;
    }
  }

  .quiz-banner-text {
    margin: 0 0 0 auto;
    max-width: 350px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;

    @media (max-width: 1023px) {
      max-width: 270px;
      font-size: 14px;
    }

    @media (max-width: 767px) {
      margin: 0 0 17px;
      max-width: 100%;
      font-size: 16px;
      text-align: center;
    }
  }

  .quiz-banner-image-mobile {
    display: none;

    @media (max-width: 767px) {
      margin-bottom: 21px;
      display: block;
      width: 116px;
    }
  }
}

.home-page-content {
  display: flex;
  align-items: center;
  padding: 80px 0 77px;

  @media (max-width: 1023px) {
    padding: 40px 0;
  }

  @media (max-width: 767px) {
    padding: 60px 0;
    flex-direction: column-reverse;
  }

  .where-to-get-info-container {
    margin-right: 30px;
    max-width: 308px;

    @media (max-width: 767px) {
      margin-right: 0;
      max-width: 100%;
    }

    .main-content-header {
      margin: 0 0 2px;
      font-size: 36px;
      font-weight: 700;

      @media (max-width: 767px) {
        font-size: 28px;
      }
    }

    .main-content-text {
      margin: 0 0 31px;
      color: #595a5a;
    }

    .main-page-content-logo {
      padding-bottom: 28px;
      display: block;

      @media (max-width: 767px) {
        margin-bottom: 21px;
        padding-bottom: 0;
        width: 157px;
      }
    }

    .download-buttons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .download-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 48%;
        border-radius: 7px;

        @media (max-width: 767px) {
          height: 41px;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.quiz-button {
  margin-left: 30px;
  color: #fff;
  background: linear-gradient(160deg, #00c9c9, #5a85e0);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  outline: none;
  border-radius: 24px;

  @media (max-width: 1023px) {
    width: 200px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    width: 250px;
  }
}

.image {
  margin: 0 9px 0 auto;
  max-width: 602px;
  width: calc(100% - 308px);
  height: auto;

  @media (max-width: 767px) {
    margin: 0 0 29px;
    width: 100%;
  }
}

.about-us-block {
  padding: 100px 0;

  &-title {
    color: rgb(3, 3, 3);
    font-size: 48px;
    font-weight: 800;
    height: 80px;
    letter-spacing: 0px;
    line-height: 80px;
    width: 100%;

    @media (min-width: 767px) {
      margin-left: 50px;
    }
  }

  &-text {
    text-align: justify;
    color: rgb(89, 90, 90);
    font-size: 16px;
    font-weight: normal;
    min-height: 168px;
    letter-spacing: 0px;
    line-height: 24px;
    width: 99%;

    @media (min-width: 767px) {
      padding-left: 50px;
    }
  }

  &-inner {
    padding-left: 50%;
    position: relative;
    z-index: 1;

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &-img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);

    @media (max-width: 767px) {
      position: static;
      width: 100%;
      transform: none;
    }
  }
}
