.button-container {
  display: flex;
  border: none;
  justify-content: center;
  background-color: transparent;

  button:disabled {
    opacity: 0.5;
  }
}

.primary-button {
  height: 48px;
  width: 250px;
  background-color: #ff6348;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ff6348;
  outline: none;
  border-radius: 24px;
}

.secondary-button {
  height: 48px;
  width: 250px;
  border: none;
  background-color: #ffffff;
  color: #030303;
  cursor: pointer;
  outline: none;
  border-radius: 24px;
}
