.input-container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (max-width: 1023px) {
    padding-left: 0;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }

  .text {
    width: calc(100% - 15px - 24px);
  }

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 34px);
  }

  .checkmark-square {
    height: 24px;
    width: 24px;
    border: 1px solid #ff6348;
    margin-right: 10px;
    text-align: center;
    position: relative;
  }

  .checkmark-round {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #ff6348;
    margin-right: 10px;
    text-align: center;
    position: relative;
  }

  .checkmark-round:after, .checkmark-square:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
  }

  & input:checked ~ .checkmark-square {
    background-color: #ff6348;
  }

  & input:checked ~ .checkmark-square:after, & input:checked ~ .checkmark-round:after {
    display: inline-block;
  }

  & .checkmark-square:after {
    width: 5px;
    height: 10px;
    line-height: 24px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateY(-30%) translateX(-110%);
  }

  & .checkmark-round:after {
    transform: translateY(-50%) translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff6348;
  }
}
